<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="" class="responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a>To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div> -->
    <button type="button" class="btn btn-primary">Shopping List</button>
    <button routerLink="edit" type="button" class="btn btn-warning">Edit Recipe</button>
    <button type="button" class="btn btn-danger">Delete Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
